<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Planet name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="rotationPeriod">
    <mat-header-cell *matHeaderCellDef> Rotation period </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.rotationPeriod }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="orbitalPeriod">
    <mat-header-cell *matHeaderCellDef> Orbital period </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.orbitalPeriod }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="diameter">
    <mat-header-cell *matHeaderCellDef> Diameter </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.diameter }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="climate">
    <mat-header-cell *matHeaderCellDef> Climate</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.climate }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns" (click)="getRow(row)"></mat-row>
</mat-table>
<mat-paginator
  showFirstLastButtons
  [pageSize]="PAGE_SIZE"
  [length]="!!metadata ? metadata.count : 0"
  (page)="onPageChange($event)"
></mat-paginator>
