.planet-information__field {
  background: var(--gray-3);
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  p {
    width: 100%;
    background-color: var(--white);
    margin-top: 2px;
    padding: 10px 30px;
  }
}

.planet-information__container {
  display: flex;
  flex-direction: column;
}

.row {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
  }