<div class="planet-information__container">
  <div class="row">
    <div class="planet-information__field">
      Climate
      <p>{{ planetData.climate | titlecase }}</p>
    </div>
    <div class="planet-information__field">
      Diameter
      <p>{{ planetData.diameter }}</p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Rotation Period
      <p>{{ planetData.rotationPeriod }}</p>
    </div>
    <div class="planet-information__field">
      Orbital Period
      <p>{{ planetData.orbitalPeriod }}</p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Gravity
      <p>{{ planetData.gravity }}</p>
    </div>
    <div class="planet-information__field">
      Population
      <p>{{ planetData.population }}</p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Surface Water
      <p>{{ planetData.surfaceWater }}</p>
    </div>
    <div class="planet-information__field">
      Terrain
      <p>{{ planetData.terrain | titlecase }}</p>
    </div>
  </div>
</div>
