<div class="planet-information__container">
  <div class="row">
    <div class="planet-information__field">
      Climate
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.climate | titlecase }}
        </ng-container>
      </p>
    </div>
    <div class="planet-information__field">
      Diameter
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.diameter }}
        </ng-container>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Rotation Period
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.rotationPeriod }}
        </ng-container>
      </p>
    </div>
    <div class="planet-information__field">
      Orbital Period
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.orbitalPeriod }}
        </ng-container>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Gravity
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.gravity }}
        </ng-container>
      </p>
    </div>
    <div class="planet-information__field">
      Population
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.population }}
        </ng-container>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="planet-information__field">
      Surface Water
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.surfaceWater }}
        </ng-container>
      </p>
    </div>
    <div class="planet-information__field">
      Terrain
      <p>
        <ng-container *ngIf="!!planetData">
          {{ planetData.terrain | titlecase }}
        </ng-container>
      </p>
    </div>
  </div>
</div>
