<mat-card class="details__container">
  <mat-card class="details__info-wrapper">
    <div class="row title-padding title-underscore">
      <h1>Planet Name</h1>
    </div>

    <div class="wrapper__content">
      <div class="row">
        <div class="details__field">
          Climate
          <p>Dupa</p>
        </div>
        <div class="details__field">
          Diameter
          <p>Dupa</p>
        </div>
      </div>

      <div class="row">
        <div class="details__field">
          Climate
          <p>Dupa</p>
        </div>
        <div class="details__field">
          Diameter
          <p>Dupa</p>
        </div>
      </div>

      <div class="row">
        <div class="details__field">
          Climate
          <p>Dupa</p>
        </div>
        <div class="details__field">
          Diameter
          <p>Dupa</p>
        </div>
      </div>
    </div>

    <div class="wrapper__footer">

    </div>
  </mat-card>
</mat-card>
